<<<<<<< HEAD
﻿/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
=======
﻿body {
  padding-top: 1px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.padding
{    
    margin-left: 10px;
 }

.left {
     float:left;
     width: 100px;
>>>>>>> b17cfda1353dd2877b7ea07bd21f433375c7172c
}